beautifulsoup4==4.11.1
Flask==1.0.2
Flask_Cors==3.0.7
Flask_RESTful==0.3.7
joblib==1.0.0
matplotlib==3.5.0
numpy==1.18.5
pandas==1.2.0
regex==2021.11.10
scikit_learn==1.1.1
tldextract==2.2.0
whois==0.7
